@model AsyncCourse.Auth.Api.Models.Models.LoginModel;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <form asp-controller="Access" asp-action="Login" method="post">
        <h3>Log in</h3>
        <input type="email" placeholder="Email" asp-for="Email"/>
        <br /><br />
        <input type="password" placeholder="Password" asp-for="Password"/>
        <br /><br />
        
        <label>
            <input type="checkbox" asp-for="KeepLoggedIn"/>
            Keep me logged in
        </label>
        <br /><br />
        
        <button type="submit">Login to account</button>
    </form>
</div>
</body>
</html>